{% extends 'appgame/index.html' %}



{% block titulo %}
<h1 class="display-4 fw-bolder">Acerca de:</h1>
<p class="lead fw-normal text-white-50 mb-0">Styfferson Castro</p>                                 
{% endblock titulo %}

{% block contenido %}

<h2>Esta página cuenta Acerca de quien soy </h2>
<br>
<h3>Mi nombre es Styfferson Castro, tengo 33 años y soy de Caracas-Venezuela, actualmente soy estudiante de la comision 57810 del curso de Python, mi proyecto trata de un Ecomerce llamado Zona Arcade</h3>
<h3>El proyecto tiene como objetivos vender articulos Games de la mayor calidad y precio al cliente, ofreciendo descuentos y hasta envios gratis en algunos productos</h3>
<h4>Este es mi 3er curso en coder, he aprobado los cursos de Tester QA Manual y SQL. Inicie en este mundo IT a finales del 2023 ya que quiero generar mejores oportunidades economicas y de crecimiento, aun no consigo ese primer trabajo en el mundo IT se que es el más dificil en llegar pero no desisto, mientras que llega he decidido invertir en mi. Una vez finalizado el curso de Python me dedicare a reforzar los conocimientos de los 3 cursos y seguir practicando el inglés. Me gustan los deportes y los videos juegos y a pesar que me ha costado le estoy tomando cariño a programar. </h4>
{% endblock contenido %}
    