{% extends 'appgame/index.html' %}

{% block titulo %}
<h1 class="display-4 fw-bolder">Login</h1>
<p class="lead fw-normal text-white-50 mb-0">Listo para conquistar el mundo virtual</p>                                 
{% endblock titulo %}

{% block contenido %}   
{% if next %}<div class="alert alert-info">Inicia sesión para continuar con tu compra. ¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a>.</div>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Login">
</form>

{% endblock contenido %}